.singleDrink{
    color: white;
}
.singleImage{
    width: 350px;
}
.title{
   text-align:center;
   margin-left: -20%;
   color: rgb(234, 0, 255);
   margin: auto;
   margin-top: 10px;
}
.ingredient img{
    width: 160px;
   text-align: center;
}
.measure{
   text-align: center;
}
.instruction{
    color: rgba(29, 138, 7, 0.863); font-size: large; font-family:monospace;
}
.arrow_container{
    margin-top: 20px;
  text-align: center;
}
.arrow{
    width: 70px;
}
.ingredientDetail{
    margin-top: 30px;
}