.drinkImage{
    width: 250px;
    background-size: cover;

}
.cardContainer{
    background-color: #141414;
    height: 400px;
    border-radius: 20px;
    width: 250px;
    margin-top: 60px;
    color: white;
}
.favorite{
color: red;
}
.tefault{
    color: white;
   }
   ion-icon{
    --ionicon-stroke-width: 32px;
  }