<ion-header>
  <ion-toolbar>
    <ion-title>favorites</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/product-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div *ngIf="likeDrinks.length === 0">
      <h2 style="margin-top: 30%; text-align: center">
        Your whishlist is empty
      </h2>
    </div> 
    <div class="row" *ngIf="likeDrinks">
      <div class="col" *ngFor="let drink of likeDrinks let i=index">
        <mat-card class="cardContainer">
          <img mat-card-image class="drinkImage" [routerLink]="['/product-details'  , drink.idDrink]"
            [src]="drink.strDrinkThumb" alt="drinkImage" />
          <mat-card-content style="margin-bottom: 0px">
            <mat-card-title style="color: white; font-size: 20px">{{drink.strDrink}}</mat-card-title>
            <mat-card-subtitle style="color: white">{{drink.strCategory}}</mat-card-subtitle>
          </mat-card-content>
          <mat-card-actions>
            <ion-icon class="favorite" (click)="onHeartClick(drink.idDrink)" size="large" name="Trash"></ion-icon>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</ion-content>